<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Inclusive Color.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3022F4491E68704E00C28B72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3022F45D1E68704E00C28B72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3022F4681E68704F00C28B72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
